<a href="https://colab.research.google.com/github/shabeeh029/Some_Famous_Program/blob/main/Some_Famous_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fibonaci Series-

In [ ]:
#fibnoaci-1 using list
fib=[0,1]
for i in range(10):
  fib.append(fib[-1]+fib[-2])
  
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
#fibonaci-2 Normal
a=0
b=1
print(a,b,end=' ')
for i in range(10):
  c=a+b
  print(c,end=' ')
  a=b
  b=c

0 1 1 2 3 5 8 13 21 34 55 89

#Palindrome-

In [ ]:
x=input("Enter Number or Strings-")
s=x[::-1]
if(x==s):
  print("Number or Strings are Palindrome-")
else:
  print("Number or Strings are Not Palindrome-")

Enter Number or Strings-Geeks
Number or Strings are Not Palindrome-

#Armstrong-

In [ ]:
num=int(input())
sum=0
temp=num
while(temp>0):
  digit=temp%10
  sum+=digit**3
  temp //=10
if(num==sum):
  print("Number is Armstrong-")
else:
  print("Number is not Armstrong")

153
Number is Armstrong-

#Leap Year

In [ ]:
n=int(input())
if((n%400==0) or (n%100!=0) and (n%4==0)):
  print("Leap Year")
else:
  print("Not leap Year")

2017
Not leap Year

#Even or Odd

In [ ]:
n=int(input())
if(n%2==0):
  print("Number is even")
else:
  print("Number is odd")

3
Number is odd

#Sum Of Natural Number-

In [ ]:
n=int(input())
if n<0:
  print("Enter a positive number ")
else:
    sum=0
while(n>0):
  sum+=n
  n-=1
print("The sum of natural number is-",sum)

100
The sum of natural number is- 5050

#Factorial of number-

In [ ]:
n=int(input())
fact=1
if(n<0):
  print("Can't Compute Factorial for Negative number")
elif (n==0):
  print('{}!={}'.format(n,fact))
else:
    for n in range(1,n+1):
      fact=fact*n

    print('{}!={}'.format(n,fact))

5
5!=120

#Check Prime Number or not

In [ ]:
n=int(input())
if n<2:
  print("Not a Prime number")
else:
    for i in range(2,n):
      if n%i==0:
        print("Not a Prime")
        break
    else:
      print("Number is Prime")

8
Not a Prime

#Remove even integers from list-

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda x:x%2==0,lst)))

[2, 4, 6, 8, 10]

#Merge two sorted lists-

In [ ]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l1.extend(l2)
sorted(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Find minimum and maximum value in a list

1-Single-dimensional array
2- Two-dimensional NumPy array. 
*Import numpy library*
Syntax:-numpy.max(arr),numpy.min(arr)

In [ ]:
#1-Single-dimensional array 
import numpy
arr = numpy.array([1, 2, 3, 4, 5])
max_element= numpy.max(arr)
min_element=numpy.min(arr)
print(f'Maximum element in the array is-{max_element}')
print(f'Minimum element in the array is-{min_element}')

#2 dimensional wala same aisey rahega bus usme 2d array hoga

Maximum element in the array is-5
Minimum element in the array is-1

#Sum of all element in array-

In [ ]:
import numpy
list1 = [1, 2, 3]
list2 = [4, 5, 6]
 #numpy.prod() ko  multiplications ke liye use kartey hain
result1 = numpy.prod(list1)
result2 = numpy.prod(list2)
print(result1)
print(result2)

6
120

#Write a program to reverse the array-

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
b=a[::-1]
print("Reversed array are-",b)

Reversed array are- [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#Write a program to sort the given array-

In [ ]:
arr=[1,3,46,64,65,37]
print("My array is-",arr)
b=arr.sort()
print("my sorted array",arr)

My array is- [1, 3, 46, 64, 65, 37]
my sorted array [1, 3, 37, 46, 64, 65]

#Move all the negative elements to one side of the array -

In [ ]:
arr = [1 ,-1 ,-3 , -2, 7, 5, 11, 6 ]
def move(arr,n):
    k= 0
    for i in range(n):
        if arr[i]>=0:
            arr[i],arr[k] = arr[k],arr[i]
            k+=1
    return arr
n = len(arr)
print(move(arr, n))

[1, 7, 5, 11, 6, -3, -2, -1]

next program coming soon